node_modules/
.env
venv/
dist/
downloads/
generated_apps/
generated_projects/
preview_projects/
ai_generated/
uploads/
backend/node_modules/
backend/venv/
backend/dist/
backend/downloads/
backend/generated_apps/
backend/generated_projects/
backend/preview_projects/
backend/ai_generated/
backend/uploads/
backend/codegen-350M-mono/
*.log
*.zip
*.exe
backend/models/
backend/backend/frontend/src/generated/
backend/backend/
backend/data/
